@model code_MVC.Models.Classroom
@{
    ViewData["Title"] = "Sınıf Sil";
}
<h2>Sınıf Sil</h2>
<h4>Bu sınıfı silmek istediğinize emin misiniz?</h4>
<div>
    <dl class="row">
        <dt class="col-sm-2">Adı</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Kapasite</dt>
        <dd class="col-sm-10">@Model.Capacity</dd>
        <dt class="col-sm-2">Lokasyon</dt>
        <dd class="col-sm-10">@Model.Location</dd>
    </dl>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div> 